body {
  background-color: lightgrey;
}

img{
    border-radius:800px;
    margin-right: 10px;
   
    
}
    
  .span{
     text-decoration: underline;
}
    
.username{
  text-align: center; 
  font-size: 20px;
  background-color: black;
  color: whitesmoke;
  font-style: italic;
}

.naam{
  text-align:center;
  color: black;
  margin: 0;
  background-color: black;
  color: whitesmoke;
}

.summary{
  text-align: center;
  font-size: 20px;
  background-color: black;
  color: whitesmoke;
}

#workone{
  color: darkred;
  text-decoration:underline;
}

#para{
  font-size: 20px;
 color: darkblue;
font-style: italic;
}

#exphead{
  text-decoration: underline;
  color: darkred;
}
#worktwo{
  color: darkred;
  text-decoration: underline;

}
#workicici{
color: rgb(90, 7, 7);
}
#contact{
  text-align: center;
  color: brown;
}
#contactnumber{
  color: darkred;
  text-align: left;
}
  